header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

form {
    background-color: #f0f0f0;
}


.main-weather {
    padding: 10px;
    margin: 10px;
}

.card {
    padding: 10px;
}

#wIcon {
    height: 50px;
    width: auto;
}

span {
    padding: 5px;
}

#cards {
    color: white;
    margin: 10px;
    padding: 10px;
    margin: 10px;
}

/*  Medium Media Screens */
@media screen and (max-width: 992px){

h6 {
    font-size: 12px;
}

.cardTemp {
    font-size: 12px;
}

.cardHumidity {
    font-size: 12px;
}
}

/* Small Media Screens */
@media screen and (max-width: 767px){

h6 {
    font-size: 10px;
}

.cardTemp {
    font-size: 10px;
}

.cardHumidity {
    font-size: 10px;
}
}
